// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.coach {
  background-color: rgba(237, 202, 128, 0.5);
  opacity: 0.5;
}

.container {
  width: 800px;
  margin: 0 auto;
}

h1 {
  text-align: center;
}
